/* 사용자 지정 속성 */
/*
		[사용법] var(컬러이름)
		[예시] div의 배경색을 바꿀 때,
			div {
				background-color: var(--page-bg-color);
			}

		스타일드 컴포넌트에서도 사용 가능합니다!
	*/

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
:root {
    /* 색상 */
    --page-bg-color: #fafafa;
    --mobile-header-color: #a2d2ff;
    --button-bg-normal: #ddd;
    --button-bg-positive: #419300;
    --button-bg-negative: #ff4545;
    --font-validation-negative: #e04f4f;
    --font-validation-positive: #327552;
    --button-bg-edit: #2f6ecb;
    --button-bg-google: #ea4335;
    --modal-bg-color: #00000066;
    --modal-confirm-bg: #f2f2f2;
    --modal-confirm-button-bg: #c4c4c4;

    /* 길이 - 모바일 */
    --mobile-page-height: calc(100vh - 125px);
    --mobile-header-height: 200px;
    --mobile-menubar-height: 70px;

    /* 길이 - 데스크탑*/
    --desktop-page-height: calc(100vh - 125px);
    --desktop-header-height: 125px;
}

/* 속성값 통일 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border-radius: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* animation */
@keyframes add-spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* [start] create-react-app default style */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Gowun Dodum', "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
/* [end] create-react-app default style */